html {
  background-color: #ffffff;
  font-family: "Amiri", serif; 
}

h1 {
  text-align: center;
  font-size: 40px;
  text-color: #d4d4d4;
}

links{
  background-color: #e3e3e3b; 
  font-size: 36px;
  border-top-width: 11px;
  border-top-style: groove;
  border-top-color: rgba(160,160,160,0.85);
  text-color: black;
}
