html {
  background-color: #ffffff;
  font-family: "Amiri", serif; 
}

h1 {
  text-align: center;
  font-size: 40px;
  text-color: #d4d4d4;
}

links{
  background-color: #e3e3e3b; 
  font-size: 18px;
}
